.bm-toolbar {
    position: relative;
    padding: var(--bm-toolbar-padding);
    min-height: var(--bm-toolbar-min-height);
    width: 100%;
}

.bm-toolbar--inset {
    padding-left: var(--bm-toolbar-inset-size);
}

.bm-toolbar .bm-avatar {
    font-size: 38px;
}

.bm-toolbar__title {
    flex: 1 1 0%;
    min-width: 1px;
    max-width: 100%;
    font-size: var(--bm-toolbar-title-font-size);
    font-weight: var(--bm-toolbar-title-font-weight);
    letter-spacing: var(--bm-toolbar-title-letter-spacing);
    padding: var(--bm-toolbar-title-padding);
}

.bm-toolbar__title:first-child {
    padding-left: 0;
}

.bm-toolbar__title:last-child {
    padding-right: 0;
}
