*, *:before, *:after
    box-sizing inherit
    -webkit-tap-highlight-color transparent

body
    font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size 12px
    line-height 1.5


.flex, .row, .column
    display flex
    flex-wrap wrap

.flex-center
    justify-content center
    align-items center

.no-border
    border none

.no-border-radius
    border-radius 0 !important

.no-shadow, .shadow-0
    box-shadow none !important

.bg-transparent
    background transparent

.el-col>div
    border-left 0
    border-right 0

.text-no-wrap
    white-space nowrap

.cursor-pointer
    cursor pointer

.my-md
    margin-top 16px
    margin-bottom 16px

.text-primary
    color var(--el-color-primary)

.gutter-y-sm, .gutter-sm
    .el-card__body>*
        margin-top 8px

.el-col>img
    display block
    width 100%
    max-width 100%
    border 0


.col, .col-xs
    @media screen and (min-width 0)
        flex: 10000 1 0%
